<!DOCTYPE html>
<html>
  <head>
    <title>Hello Velocity</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0;">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,600,700' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <div class="social">
        <img class="facebook" src="/media/facebook-icon.png" />
        <img class="instagram" src="/media/instagram-icon.png" />
        <img class="twitter" src="/media/twitter-icon.png" />
        <img class="email" src="/media/email-icon.png" />
    </div>

    <div class="center">
        <div class="name">hello velocity</div>
    </div>

    <div class="text">
        <div class="logo">hi</div>,
        we are the creators of 
        <span class="bitelabs" data-color="30a848"><!--
            --><span class="project" data-project="bitelabs">bitelabs</span><!--
        --></span>, 
        <span class="genecoin" data-color="4266eb"><!--
            --><span class="project" data-project="genecoin">genecoin</span><!--
        --></span>, and 
        <span class="mcmass" data-color="ff0000"><!--
            --><span class="project" data-project="mcmass">the mcmass project</span><!--
        --></span>.
    </div>

    <script src="js/jquery-2.1.1.min.js"></script> 
    <script src="js/index.js"></script> 
  </body>
</html>
