<!DOCTYPE html>
<html>
  <head>
    <title>Hello Velocity</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0;">
    <meta name="google-site-verification" content="hello velocity, hi velocity, mcmass, the mcmass project, mcdonalds church, church mcdonalds, art, viral, design, bitlabs, celebrity meat, meat, celebrity, genecoin, bitcoin, genomic data, genome, salami, startup, aesthetic, virality, new york, performance art, network art, Art, new york city, nyc" >
    <meta type="description" content="Hello Velocity created Bitelabs, Genecoin, and The McMass Project. Store coming soon!">
    <meta property="og:title" content="Hello Velocity">
    <meta property="og:url" content="www.hellovelocity.com">
    <meta property="og:description" content="Hello Velocity created Bitelabs, Genecoin, and The McMass Project. Store coming soon!">
    <meta property="og:site_name" content="Hi, Hello Velocity!">
    <meta property="og:image" content="http://www.hellovelocity.com/social-image.png">

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,600,700' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='/css/style.css' />
    <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-57531666-1', 'auto');
          ga('send', 'pageview');
    </script>
  </head>
  <body>
    <div class="social">
        <img class="facebook button" src="/media/facebook-icon.png" />
        <img class="instagram button" src="/media/instagram-icon.png" />
        <img class="twitter button" src="/media/twitter-icon.png" />
        <img class="email button" src="/media/email-icon.png" />
    </div>

    <div class="center">
        <div class="name">hello velocity</div>
    </div>

    <div class="text">
        <div class="logo">hi</div>,
        we are the creators of 
        <span class="bitelabs" data-color="30a848"><!--
            --><span class="project" data-project="bitelabs">bitelabs</span><!--
        --></span>, 
        <span class="genecoin" data-color="4266eb"><!--
            --><span class="project" data-project="genecoin">genecoin</span><!--
        --></span>, and 
        <span class="mcmass" data-color="ff0000"><!--
            --><span class="project" data-project="mcmass">the mcmass project</span><!--
        --></span>.
    </div>

    <div class="cursor"></div>

    <script src="js/jquery-2.1.1.min.js"></script> 
    <script src="js/index.js"></script> 
  </body>
</html>
